$favbg: #f1f1f1;
$favbg2: #a09d9d;
$favcolor1:white;
$favcolor2:black;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%bt {
    border: 1px solid rgb(199, 199, 226);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

main {
    width: 100%;
    height: 100vh;

    >.row {
        height: 100vh;

        >div {
            &:first-of-type {
                width: 20%;
               

                >figure {
                    >img {
                        width: 50%;
                        border-radius: 15%;
                        padding: 15px;

                    }
                }

                >h2 {
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    text-transform: capitalize;
                    font-size: 20px;
                    padding: 10px;
                    color: #009688;

                }

                >nav {
                    width: 100%;

                    >ul {
                        width: 100%;

                        >li {
                            width: 100%;
                            list-style-type: none;
                            padding: 15px;

                            &:hover {
                                width: 100%;
                                background-color: $favbg2;
                            }

                            >a {
                                font-size: 15px;
                                text-decoration: none;
                                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                                color: $favcolor2;

                                &:hover {
                                    color: $favcolor1;
                                }
                            }
                        }
                    }
                }

                >section {
                    width: 100%;

                    >figure {
                        width: 100%;

                        >img {
                            width: 50%;
                        }
                    }
                }
            }
            //    last page..
            &:last-of-type {
                width: 80%;
                background-color: $favbg;
               

                >header {
                    width: 100%;
                    height: 140px;

                    >h1 {
                        text-transform: uppercase;
                        tab-size: 45px;
                        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                        padding: 20px;
                    }

                    >.box {
                        width: 120px;
                        display: flex;
                        height: 40px;
                        padding: 10px;

                        >h3 {
                            text-align: center;
                            padding: 5px;
                            font-size: 20px;
                            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                        }

                        >ul {
                            display: flex;
                            width: 800px;
                            text-align: center;
                            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

                            >li {
                                list-style-type: none;
                                width: 100px;
                                height: 40px;
                                background-color: rgb(247, 251, 250);
                                color: $favcolor2;
                                margin: 2px;

                                &:hover {
                                    background-color: #e3e3e3;
                                }

                                &:first-of-type {
                                    background-color: #848484;
                                    width: 70px;
                                }

                                >a {
                                    text-decoration: none;
                                    font-size: 20px;
                                    text-transform: capitalize;
                                    text-align: center;
                                    color: $favcolor2;


                                }
                            }
                        }
                    }
                }

                >span {
                    width: 100%;
                    padding: 4px;


                    >div {
                        width: 100%;
                        height: 5px;
                        background-color: $favbg2;
                    }
                }

                >.row {
                    width: 100%;

                    >figure {
                        display: flex;
                        width: 300px;
                        height: 300px;
                        position: relative;
                        justify-content: space-evenly;
                        margin: 10px;
                        flex-grow: 1;
                        filter: grayscale(50%);

                        &:hover {
                            filter: grayscale(0%);


                        }

                        >img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                    }
                }

                >.about {
                    width: 100%;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    padding: 5px;
                    margin: 15px;

                    >h3 {
                        font: 20px;
                        padding: 20px;
                        text-transform: uppercase;
                    }

                    p {
                        font: 20px;
                        line-height: 20px;
                    }
                }

                >section {
                    width: 100%;

                    >.row {
                        width: 100%;

                        >figure {
                            width: 520px;
                            height: 300px;
                            display: flex;
                            flex-grow: 1;
                            justify-content: space-evenly;
                            padding: 5px;
                            margin: 40px;

                            >img {
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }

                .section {
                    width: 100%;
                    padding: 10px;

                    >h3 {
                        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                        padding: 20px;
                    }

                    >h5 {
                        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                        padding: 20px;

                    }

                    >.row {
                        width: 100%;
                        padding: 10px;
                        height: 60px;


                        >.box1 {
                            width: 100%;
                            height: 100%;

                            background-color: #9e9e9e;

                            >div {
                                width: 95%;
                                height: 100%;
                                text-align: center;
                                padding: 8px;
                                font-size: 20px;
                                color: $favcolor1;
                                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                                text-transform: capitalize;
                                background-color: #616161;

                            }
                        }

                        .box2 {
                            width: 100%;
                            height: 100%;
                            display: block;

                            background-color: #9e9e9e;

                            >div {
                                width: 85%;
                                height: 100%;
                                text-align: center;
                                padding: 8px;
                                font-size: 20px;
                                color: $favcolor1;
                                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                                text-transform: capitalize;
                                background-color: #616161;

                            }
                        }

                        .box3 {
                            width: 100%;
                            height: 100%;
                            display: block;

                            background-color: #9e9e9e;

                            >div {
                                width: 80%;
                                height: 100%;
                                text-align: center;
                                padding: 8px;
                                font-size: 20px;
                                color: $favcolor1;
                                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                                text-transform: capitalize;
                                background-color: #616161;

                            }
                        }

                        >.box4 {
                            width: 220px;
                            height: 45px;
                            padding: 20px;
                            background-color: #616161;
                            color: $favcolor1;
                            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                            text-transform: capitalize;
                            font-style: 30px;
                            text-align: center;

                            &:hover {
                                background-color: $favcolor1;
                                color: #616161;
                            }
                        }
                    }
                }

                .contact {
                    width: 100%;
                    height: 400px;
                    padding: 20px;
                    background-color: #9e9e9e;
                   

                    >h2 {
                        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                        text-transform: capitalize;
                        font-size: 20px;
                        padding: 20px;
                    }

                    >span {
                        width: 100%;
                        padding: 5px;


                        >div {
                            width: 100%;
                            height: 1px;
                            background-color: #f1f1f1;
                        }

                    }

                    >form {
                        width: 100%;
                        height:300px;
                        >input {
                            width: 100%;
                            height: 20px;
                            padding: 20px;
                            margin: 10px;
                        }
                        >button{
                            width: 150px;
                            margin: 10px;
                            height: 42px;
                            font-size: 16px;
                            color:$favcolor1;
                            background-color:$favcolor2;
                            text-transform: capitalize;
                            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                            &:hover{
                                color: $favcolor2;
                                background-color: $favcolor1;
                                border: $favcolor1;
                            }
                        }

                    }
                }
                footer{
                    width: 100%;
                    height: 80px;
                    padding: 20px;
                    text-align: center;
                    background-color: $favcolor2;
                    color: $favcolor1;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-size: 20px;
                }
            }

           
        }
       

    }
   

}